.footer {
  background-color: transparent;
  position: sticky;
  bottom: 0;
  max-width: 100%;
  height: 70px;
  color: white;
  display: flex;
  justify-content: center;
}

.camIcon {
  width: 50px;
  background-color: black;
  padding: 15px;
  border-radius: 50%;
}

.camImg {
  width: 35px;
}

.footerBack {
  background-color: black;
  position: fixed;
  bottom: 0px;
  width: 100%;
  height: 40px;
  z-index: -1;
}

#inputBtn {
  display: none;
}
