.footer {
  background-color: transparent;
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 70px;
  color: white;
  display: flex;
  justify-content: center;
}

.camIcon {
  width: 50px;
  background-color: black;
  padding: 15px;
  border-radius: 50%;
}

.footerBack {
  background-color: black;
  position: fixed;
  bottom: 0px;
  width: 100%;
  height: 40px;
  z-index: -1;
}
