@import url(https://db.onlinewebfonts.com/c/6d32b8e06f40fb7698cfb714b9e7975d?family=BillabongW00-Regular);

.header {
  background-color: black;
  position: sticky;
  top: 0;
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: flex-start;
}

.logo {
  font-family: BillabongW00-Regular;
  font-size: 30px;
  font-weight: 600;
  margin: 11px;
  position: relative;

  color: transparent;
  background-color: white;
  text-shadow: 0px 0px 0.1px rgba(100, 100, 100, 0.1);
  letter-spacing: 1px;
  background-clip: text;
}
