.App {
  text-align: center;
  width: auto;
  background-color: black;
}

.headblock {
  background-color: black;
  width: 100%;
  height: 60px;
}

.footblock {
  background-color: black;
  width: 100%;
  height: 70px;
}
